<!DOCTYPE html>
<html>
  <head>
    <title>VIN Information Center</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon icon -->
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="s006">
      <%= yield %>
    </div>
  </body>
</html>
